@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    margin: 0;
}
.item-registr{
    background: rgb(174,131,239);
    background: linear-gradient(90deg, rgba(174,131,239,1) 0%, rgba(136,106,236,1) 35%, rgba(111,92,234,1) 100%);
    height: 713px;
    width: 100%;
    padding-top: 60px;
}

.registration-item{
    width: 55%;
    height: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px -4px;
}

.left{
    display: inline-block;
    float: left;
    width: 50%;
    background: #02B4D2;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.chat-message{
    margin-top: 200px;
    width: 100%;
}

.chat-message h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.p-text {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
}

.p-text p {
    font-size: 21px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.right{
    display: inline-block;
    float: right;
    background: #FFFFFF;
    height: 100%;
    width: 50%;
    border-radius:0 5px 5px 0;
}

.right h1 {
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.registration-form{
    margin: 0 auto;
    width: 77%;
}

.registration-form p {
    margin-bottom: 15px;
    font-size: 12px;
}

.registration-form input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border:none;
    background: #EEEEEE;
    text-align: left;
}

.registration-form textarea{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border:none;
    background: #EEEEEE;
    padding-right: 15px;
    color: grey;
}
.submit{
    margin: 0 auto;
    width: 45%;

}
.submit button{
    cursor: pointer;
    text-transform: uppercase;
    background: #02B4D2;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}

.submit button a{
    text-decoration: none;
    color: white;
}

.logo img{
    width: 200px;
    height: 100px;
    float: right;
}

.menu{
    height: 50px;
    padding: 20px;

}

.menu ul{
    overflow: hidden;
    text-decoration: none;
    list-style: none;
}

.menu ul li{
    float: left;
    padding-left: 35px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

@media (max-width: 970px){
    .registration-form input{
        width: 99%;
    }
    .registration-item{
        width: 75%;
    }

    .chat-message h1{
        font-size: 37px;
    }

    .p-text p{
        font-size: 18px;
    }

    .p-text{
        width: 100%;
        text-align: center;
    }

    .submit {
        margin: 0 auto;
        width: 55%;
    }
}

@media (max-width: 700px){
    .chat-message h1{
        font-size: 30px;
    }

    .p-text p{
        font-size: 15px;
    }
    .submit {
        width: 68%;
    }

    .submit button{
        width: 130px;
        height: 36px;
        font-size: 11px;
    }
    .logo img {
        width: 140px;
        height: 107px;
        float: right;
    }

    .registration-form input{
        width: 91%;
    }

    .registration-form textarea{
        width: 92%;
    }

    .right h1{
        font-size: 25px;
    }
    .submit {
        margin: 0 auto;
        width: 71%;
    }

    .registration-item{
        height: 500px;
    }

    .chat-message {
        margin-top: 134px;
    }
}

@media (max-width: 570px){
    .submit{
        width: 76%;
    }

    .submit button {
        width: 113px;
        height: 30px;
        font-size: 9px;
    }
}

@media (max-width: 450px){
    .submit {
        width: 85%;
    }

    .submit button {
        width: 88px;
        height: 26px;
        font-size: 9px;
    }

    .chat-message h1 {
        font-size: 22px;
    }

    .p-text p {
        font-size: 10px;
    }

    .registration-form input{
        padding: 5px;
        margin-bottom: 6px;
    }

    .registration-form input::placeholder{
        font-size: 10px;
    }

    .registration-item {
        height: 336px;
    }
    .chat-message {
        margin-top: 90px;
    }

    .right h1 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .registration-form p {
        margin-bottom: 7px;
        font-size: 10px;
    }
    .registration-form textarea {
        width: 84%;
    }

    .item-registr{
        padding-top: 170px;
        height: 603px;
    }
}

